body {
  color: #40514E margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 5rem;
  width: 30%;
  margin: 50px auto 0;
  font-family: 'Russo One', sans-serif;
  color: #66BFBF;
}

h2 {
  font-family: 'Odibee Sans', cursive;
  font-size: 2.5rem color: blue;
}

h3 {
  font-family: 'Odibee Sans', cursive;
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  border-style: dotted none none none;
  border-width: 10px;
  margin: 100px auto;
  width: 10%;
  color: #EAF6F6;
}

.top-container {
  background-color: #ecfcff;
  position: relative;
  padding-top: 125px;
}

.bottom-container {
  margin-top: 15px;
  padding: 20px;
  background-color: #66BFBF;
}

.learn {
  text-decoration: underline;
}

.cloud1 {
  position: absolute;
  right: 500px;
  top: 50px;
}

.cloud2 {
  position: absolute;
  left: 300px;
}

.image-cropper {
  border: solid;
  margin: auto;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin-top: 80px;
}

.image-cropper1 {
  border: solid;
  margin: auto auto 50px 5px;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  float: left;
  clear: left;
}

.image-cropper2 {
  border: solid;
  margin: auto auto 50px 5px;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  float: right;
  clear: left;
}

.myprofile {
  margin: auto;
  display: inline;
  height: 130%;
  width: auto;
  position: relative;
  right: 2px;
}

.computer {
  margin: auto;
  display: inline;
  width: auto;
  height: 205px;
  position: relative;
  bottom: 5px
}

.movies {
  margin: auto;
  display: inline;
  width: 200px;
  height: auto;
  position: relative;
  bottom: 36px;
}

.learner {
  font-weight: normal
}

.hobby-row {
  width: 50%;
  margin: 50px auto;
  line-height: 2;
  text-align: center;
}

.profile {
  line-height: 2;
}

.btn {
  color: white;
  background-color: #66BFBF;
  border-radius: 15px;
  padding: 16px 32px;
}

.btn:hover {
  opacity: 1;
  background-color: #11999E;
}

.footer-link {
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: white;
}

.copyright{
  color: white;
  font-size: 0.75rem;
  padding:5px 0 0 0;

}
